article.dish {
  margin-bottom: 1em;
  padding: 1em, 0;
  border-bottom: 1px solid lightgray;}
  h1, h2 {
    margin-bottom: 0;}
  section.dish-description{
    padding: .5em,0;}
  .thumb {
    float: left;
    margin-right: 1em;
  }
